@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');

:root {
    --background-color: #000000;
    --border-color: rgba(114, 34, 219);
    --hover-border-color: rgba(114, 34, 219, 0.5);

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    cursor: default;

    overflow: hidden;

}

body {
    background-color: var(--background-color);

    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: "Orbitron", sans-serif;

    overflow: hidden;
    
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;          /* Likely future */

}

#subtitle {
    font-size: 50px;
    color: var(--hover-border-color);

    margin-bottom: 100px;
    margin-top: -30px;

}

#subtitle span {
    font-size: 60px;
    color: var(--border-color); 

    margin-left: 5px;

}


#container {
    background-color: black;

    width: 600px;
    height: 600px;

    display: grid;
    grid-template-columns: auto auto auto;

}

.box {
    background-color: transparent;

    width: 200px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 90px;
    text-transform: uppercase;
    color: blue;
      
    transition: background 150ms ease-in-out;

}

.box.empty:hover {
    background-color: var(--hover-border-color); 

}


/* Border Lines - Box */

.box:nth-child(2) {
    border-left: 10px solid var(--border-color);
    border-right: 10px solid var(--border-color);
    
}

.box:nth-child(4),
.box:nth-child(5),
.box:nth-child(6) {
    border-top: 10px solid var(--border-color);
    border-bottom: 10px solid var(--border-color);
    
}


.box:nth-child(5) {
    border-left: 10px solid var(--border-color);
    border-right: 10px solid var(--border-color);
    
}


.box:nth-child(8) {
    border-left: 10px solid var(--border-color);
    border-right: 10px solid var(--border-color);
    
}


/* Border-Radius - Box */
.box:nth-child(1) {
    border-top-left-radius: 20px;

}

.box:nth-child(3) {
    border-top-right-radius: 20px;

}

.box:nth-child(7) {
    border-bottom-left-radius: 20px;

}

.box:nth-child(9) {
    border-bottom-right-radius: 20px;

}

.winner {
    background-color: transparent;

    animation-name: winnerAnimation;
    animation-duration: 2s;

}

@keyframes winnerAnimation {
    from {background-color: var(--hover-border-color);}
    to { background-color: transparent; }

}