@media screen and (max-width: 920px) {
    #subtitle {
        width: 400px;
        font-size: 18px;

        text-align: center;

        margin-bottom: 60px;

    }

    #subtitle span {
        font-size: 25px;

        margin-left: 0;

    }

    #container {
        width: 300px;
        height: 300px;

        margin-bottom: 50px;

    }
    
    .box {
        width: 100px;
        height: 100px;

        font-size: 60px;

    }

}